<div>

    <div class="flex-shrink-0 p-2 bg-white" style="width: 120px;">
        <a href="/" class="d-flex align-items-center link-dark text-decoration-none border-bottom">
            <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-5 fw-semibold">Aurorix</span>
        </a>
        <ul class="list-unstyled ps-0">

            <li class="mb-1 active">
                <button class="btn btn-toggle align-items-center" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="{{#ifEquals mainComponent 'home'}}true{{else}}false{{/ifEquals}}">
                    Home
                </button>
                <div class="collapse {{#ifEquals mainComponent 'home'}}show{{/ifEquals}}" id="home-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="/backend/home" class="link-dark rounded {{#ifEquals component 'home'}}fw-bold{{/ifEquals}}">Home</a></li>
                    </ul>
                </div>
            </li>

            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#place-collapse" aria-expanded="{{#ifEquals mainComponent 'place'}}true{{else}}false{{/ifEquals}}">
                    Places
                </button>
                <div class="collapse {{#ifEquals mainComponent 'place'}}show{{/ifEquals}}" id="place-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="/backend/stateList" class="link-dark rounded {{#ifEquals component 'state'}}fw-bold{{/ifEquals}}">State</a></li>
                        <li><a href="/backend/districtList" class="link-dark rounded {{#ifEquals component 'district'}}fw-bold{{/ifEquals}}">District</a></li>
                        <li><a href="/backend/cityList" class="link-dark rounded {{#ifEquals component 'city'}}fw-bold{{/ifEquals}}">City</a></li>
                    </ul>
                </div>
            </li>

            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#category-collapse" aria-expanded="{{#ifEquals mainComponent 'business'}}true{{else}}false{{/ifEquals}}">
                    Business
                </button>
                <div class="collapse {{#ifEquals mainComponent 'business'}}show{{/ifEquals}}" id="category-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="/backend/categoryList" class="link-dark rounded {{#ifEquals component 'category'}}fw-bold{{/ifEquals}}">Categories</a></li>
                        <li><a href="/backend/subCategoryList" class="link-dark rounded {{#ifEquals component 'subcategory'}}fw-bold{{/ifEquals}}">Sub Categories</a></li>

                    </ul>
                </div>
            </li>

            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#vendors-collapse" aria-expanded="{{#ifEquals mainComponent 'vendors'}}true{{else}}false{{/ifEquals}}">
                    Products
                </button>
                <div class="collapse {{#ifEquals mainComponent 'vendors'}}show{{/ifEquals}}" id="vendors-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="/backend/productList" class="link-dark rounded {{#ifEquals component 'product'}}fw-bold{{/ifEquals}}">All Products</a></li>
                        {{#categoryList}}
                        <li><a href="/backend/productList?categoryId={{id}}" class="link-dark rounded {{#ifEquals ../categoryId id}}fw-bold{{/ifEquals}}">
                            {{name}}
                        </a></li>
                        {{/categoryList}}
                    </ul>
                </div>
            </li>

            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    Dashboard
                </button>
                <div class="collapse" id="dashboard-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Overview</a></li>
                        <li><a href="#" class="link-dark rounded">Weekly</a></li>
                        <li><a href="#" class="link-dark rounded">Monthly</a></li>
                        <li><a href="#" class="link-dark rounded">Annually</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                    Orders
                </button>
                <div class="collapse" id="orders-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">New</a></li>
                        <li><a href="#" class="link-dark rounded">Processed</a></li>
                        <li><a href="#" class="link-dark rounded">Shipped</a></li>
                        <li><a href="#" class="link-dark rounded">Returned</a></li>
                    </ul>
                </div>
            </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                    Account
                </button>
                <div class="collapse" id="account-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">New...</a></li>
                        <li><a href="#" class="link-dark rounded">Profile</a></li>
                        <li><a href="#" class="link-dark rounded">Settings</a></li>
                        <li><a href="#" class="link-dark rounded">Sign out</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

</div>