<header class="py-3 mb-3 border-bottom">
  <div class="header lighthead">
    <div class="header-resize containerhb">

      <!-- col-qu start -->
      <div class="col-qu header-left">

        <!-- header-account start -->
        <div class="header-account">
          <div class="dropdown">
            <button data-toggle="dropdown" class="header-account-ic"></button>
            <ul class="dropdown-menu">
              <li><a href="#">My account</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </div>
        </div>
        <!-- header-account end -->

        <!-- header-search start -->
        <div class="header-search">
          <div class="header-search-ic"></div>
          <div class="header-search-wrap"><input type="text" name=""><button></button></div>
        </div>
        <!-- header-search end -->

        <div class="clear"></div>
      </div>
      <!-- col-qu end -->

      <!-- col-qu start -->
      <div class="col-qu header-center">
        <div class="logo"><a href="#"></a></div>
      </div>
      <!-- col-qu end -->

      <!-- col-qu start -->
      <div class="col-qu header-right">
        <div class="header-menu">
          <div class="header-menu-ic"></div>
          <div class="header-menu-wrap">
            <div class="header-menu-logo"><a href="#"></a></div>
            <div class="header-menu-closeic"></div>
            <!-- ul start -->
            <ul>
              <li><a href="forside.html">Forside</a></li>
              <li><a href="abningstider.html">Åbningstider</a></li>
              <li><a href="butikker.html">Butikker</a></li>
              <li><a href="events.html">Events</a></li>
              <li><a href="gavekort.html">Gavekort</a></li>
              <li><a href="Holstebro.html">Om Holstebro Handel</a></li>
            </ul>
            <!-- ul end -->

            <!-- header-period start -->
            <div class="header-period">
              <h4>ÅBNINGSTIDER</h4>
              <table>
                <tr><td class="text-left">mandag - fredag</td><td class="text-left" width="85">10 - 17.30</td></tr>
                <tr><td class="text-left">lørdag</td><td class="text-left" width="85">10 - 15</td></tr>
                <tr><td class="text-left">søndag</td><td class="text-left" width="85">Lukket</td></tr>
              </table>
            </div>
            <!-- header-period end -->

            <!-- header-social start -->
            <div class="header-social">
              <img src="../assets/images/frontend/icons/fb-white.png">
            </div>
            <!-- header-social end -->

            <!-- header-login start -->
            <div class="header-login">
              <a href="login.html">Medlemslogin</a>
            </div>
            <!-- header-login end -->

            <div class="clear"></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <!-- col-qu end -->

      <div class="clear"></div>
    </div>
  </div>
  <div class="header-menu-overlay"></div>
</header>